USE [Panchyat_DB]
GO
/****** Object:  Table [dbo].[Apply_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apply_Master](
	[AId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](200) NULL,
	[MobileNo] [varchar](20) NULL,
	[Services] [varchar](100) NULL,
	[Apply_DT] [datetime] NULL,
 CONSTRAINT [PK_Apply_Master] PRIMARY KEY CLUSTERED 
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeneficiaryMaster]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeneficiaryMaster](
	[Name] [varchar](70) NULL,
	[Gender] [varchar](12) NULL,
	[FatherName] [varchar](70) NULL,
	[MobileNo] [varchar](20) NULL,
	[EmailId] [varchar](200) NOT NULL,
	[AdharNo] [varchar](20) NULL,
	[RelatedStateId] [int] NULL,
	[RelatedCityId] [int] NULL,
	[RelatedBlockId] [int] NULL,
	[VillageName] [varchar](100) NULL,
	[Address] [varchar](200) NULL,
	[PinCode] [int] NULL,
	[BeneficiaryPicName] [varchar](200) NULL,
	[AdharPicName] [varchar](200) NULL,
	[RegDT] [datetime] NULL,
	[IsDel] [bit] NULL,
 CONSTRAINT [PK_BeneficiaryMaster] PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Block_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block_Master](
	[BlockId] [int] IDENTITY(1,1) NOT NULL,
	[BlockName] [varchar](100) NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Block_Master] PRIMARY KEY CLUSTERED 
(
	[BlockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City_Master](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](100) NULL,
	[StateId] [int] NULL,
 CONSTRAINT [PK_City_Master] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enquiry_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enquiry_Master](
	[EnquiryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NULL,
	[EmailId] [varchar](200) NULL,
	[MobNo] [bigint] NULL,
	[Topic] [varchar](100) NULL,
	[Enquiry_Msg] [varchar](max) NULL,
	[Enquiry_dt] [datetime] NULL,
 CONSTRAINT [PK_Enquiry_Master] PRIMARY KEY CLUSTERED 
(
	[EnquiryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback_Master](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackTitle] [varchar](100) NULL,
	[Description] [varchar](100) NULL,
	[UserId] [varchar](100) NULL,
	[Feedback_DT] [datetime] NULL,
 CONSTRAINT [PK_Feedback_Master] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Master](
	[UserId] [varchar](200) NOT NULL,
	[UserType] [varchar](200) NULL,
	[Pass] [varchar](250) NULL,
	[Status] [bit] NULL,
	[LCount] [int] NULL,
	[LastLogin_dt] [datetime] NULL,
 CONSTRAINT [PK_Login_Master] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Master](
	[Nid] [int] IDENTITY(1,1) NOT NULL,
	[NMsg] [varchar](max) NULL,
	[NDT] [varchar](30) NULL,
 CONSTRAINT [PK_Notification_Master] PRIMARY KEY CLUSTERED 
(
	[Nid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Services] [varchar](100) NULL,
	[Title] [varchar](50) NULL,
	[Description] [varchar](300) NULL,
	[Service_DT] [varchar](30) NULL,
	[IsDel] [bit] NULL,
 CONSTRAINT [PK_Service_Master] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State_Master]    Script Date: 04-02-2024 11:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_Master](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](100) NULL,
 CONSTRAINT [PK_State_Master] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Apply_Master] ON 

INSERT [dbo].[Apply_Master] ([AId], [Name], [Email], [MobileNo], [Services], [Apply_DT]) VALUES (1, N'mnbvnm ghhj', N'bnm@gmail.com', N'6393343935', N'Ayushman Bharat Yojna', CAST(N'2024-02-01T11:38:42.463' AS DateTime))
INSERT [dbo].[Apply_Master] ([AId], [Name], [Email], [MobileNo], [Services], [Apply_DT]) VALUES (2, N'Rajput', N'rajput23@gmail.com', N'8960134152', N'jal pariyojna', CAST(N'2024-02-02T12:27:34.163' AS DateTime))
INSERT [dbo].[Apply_Master] ([AId], [Name], [Email], [MobileNo], [Services], [Apply_DT]) VALUES (3, N'Rajput', N'bnm@gmail.com', N'8675327878', N'jal pariyojna', CAST(N'2024-02-02T12:42:23.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[Apply_Master] OFF
GO
INSERT [dbo].[BeneficiaryMaster] ([Name], [Gender], [FatherName], [MobileNo], [EmailId], [AdharNo], [RelatedStateId], [RelatedCityId], [RelatedBlockId], [VillageName], [Address], [PinCode], [BeneficiaryPicName], [AdharPicName], [RegDT], [IsDel]) VALUES (N'AJEET KUMAR YADAV', N'Male', N'VINOD KUMAR GIRI', N'8989858745', N'01anupampaul@gmail.com', N'800595981128', 1, 3, 12, N'sdfgh', N'asdfg sdfgh asdfgh', 212620, N'vpuurqmx.1kw_nivas (3).jpg', N'cvo52xa1.laa_nivas (3).jpg', CAST(N'2024-01-23T14:40:21.060' AS DateTime), 0)
INSERT [dbo].[BeneficiaryMaster] ([Name], [Gender], [FatherName], [MobileNo], [EmailId], [AdharNo], [RelatedStateId], [RelatedCityId], [RelatedBlockId], [VillageName], [Address], [PinCode], [BeneficiaryPicName], [AdharPicName], [RegDT], [IsDel]) VALUES (N'Pradeep KUMAR Yadav', N'Male', N'Rakesh kumar yadav', N'9369153900', N'mky@123gmail.com', N'212178058475', 1, 1, 1, N'Mirzapur', N'gfcghj fghjk', 231001, N'dcrcsug2.cij_myimg.jpg', N'3jgiiyyu.w0j_JATI.jpg', CAST(N'2024-01-24T19:55:57.233' AS DateTime), 0)
INSERT [dbo].[BeneficiaryMaster] ([Name], [Gender], [FatherName], [MobileNo], [EmailId], [AdharNo], [RelatedStateId], [RelatedCityId], [RelatedBlockId], [VillageName], [Address], [PinCode], [BeneficiaryPicName], [AdharPicName], [RegDT], [IsDel]) VALUES (N'Pradeep KUMAR Yadav', N'Male', N'Rakesh kumar yadav', N'6393343935', N'mky18079@gmail.com', N'212178058475', 1, 1, 1, N'Mirzapur', N'hgfdghjkl gvbhnjkm', 231001, N'qxenn53c.3w3_nivas (3).jpg', N'ehctty02.clm_nivas (3).jpg', CAST(N'2024-01-23T14:50:23.717' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Block_Master] ON 

INSERT [dbo].[Block_Master] ([BlockId], [BlockName], [CityId]) VALUES (1, N'City', 1)
INSERT [dbo].[Block_Master] ([BlockId], [BlockName], [CityId]) VALUES (2, N'Chhanbey', 1)
INSERT [dbo].[Block_Master] ([BlockId], [BlockName], [CityId]) VALUES (3, N'Kon', 1)
SET IDENTITY_INSERT [dbo].[Block_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[City_Master] ON 

INSERT [dbo].[City_Master] ([CityId], [CityName], [StateId]) VALUES (1, N'Mirzapur', 1)
INSERT [dbo].[City_Master] ([CityId], [CityName], [StateId]) VALUES (2, N'Chitrakoot', 1)
INSERT [dbo].[City_Master] ([CityId], [CityName], [StateId]) VALUES (3, N'Lucknow', 1)
SET IDENTITY_INSERT [dbo].[City_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[Enquiry_Master] ON 

INSERT [dbo].[Enquiry_Master] ([EnquiryId], [Name], [EmailId], [MobNo], [Topic], [Enquiry_Msg], [Enquiry_dt]) VALUES (1, N'Pradeep KUMAR Yadav', N'mky@123gmail.com', 6393343935, N'Ram BHagwan', N'lkjfghjkl; fytyuiojknkjh tyhkjl fyuijklm fyjh', CAST(N'2024-01-20T17:43:56.613' AS DateTime))
INSERT [dbo].[Enquiry_Master] ([EnquiryId], [Name], [EmailId], [MobNo], [Topic], [Enquiry_Msg], [Enquiry_dt]) VALUES (2, N'Pradeep KUMAR Yadav', N'mky@123gmail.com', 6393343935, N'Ram BHagwan 220', N'jhgfdsfgh dtfghjk tfgyhuj fghj ', CAST(N'2024-01-20T17:47:38.417' AS DateTime))
INSERT [dbo].[Enquiry_Master] ([EnquiryId], [Name], [EmailId], [MobNo], [Topic], [Enquiry_Msg], [Enquiry_dt]) VALUES (3, N'AJEET KUMAR GIRI', N'mky@123', 7899855855, N'gcvhgjkl fcgvhb', N'hgfdsfghjk fdghjk fghjk tyh ', CAST(N'2024-01-20T17:55:30.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[Enquiry_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback_Master] ON 

INSERT [dbo].[Feedback_Master] ([FeedbackId], [FeedbackTitle], [Description], [UserId], [Feedback_DT]) VALUES (1, N'ytytg gyugu guygu', N'yugyug guguk uhuhkuh', N'mky@123gmail.com', CAST(N'2024-02-02T12:34:41.967' AS DateTime))
INSERT [dbo].[Feedback_Master] ([FeedbackId], [FeedbackTitle], [Description], [UserId], [Feedback_DT]) VALUES (2, N'uyuyiu uyiuyhi uhi', N'uguigiu uhiuhih hiuh', N'mky@123gmail.com', CAST(N'2024-02-02T12:35:52.387' AS DateTime))
INSERT [dbo].[Feedback_Master] ([FeedbackId], [FeedbackTitle], [Description], [UserId], [Feedback_DT]) VALUES (3, N'uhughuih guku', N'jhguhuk uuki iuh', N'mky@123gmail.com', CAST(N'2024-02-02T12:36:46.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback_Master] OFF
GO
INSERT [dbo].[Login_Master] ([UserId], [UserType], [Pass], [Status], [LCount], [LastLogin_dt]) VALUES (N'01anupampaul@gmail.com', N'BENEFICIERY', N'MTIzNDU2', 1, 0, NULL)
INSERT [dbo].[Login_Master] ([UserId], [UserType], [Pass], [Status], [LCount], [LastLogin_dt]) VALUES (N'Admin@123gmail.com', N'ADMIN', N'MTIzNDU2Nw==', 1, 73, CAST(N'2024-02-04T10:37:59.307' AS DateTime))
INSERT [dbo].[Login_Master] ([UserId], [UserType], [Pass], [Status], [LCount], [LastLogin_dt]) VALUES (N'mky@123gmail.com', N'BENEFICIERY', N'NjU0MzIx', 1, 85, CAST(N'2024-02-04T10:33:52.270' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notification_Master] ON 

INSERT [dbo].[Notification_Master] ([Nid], [NMsg], [NDT]) VALUES (3, N'this is a notification section for Egram panchayat', N'01-02-2024 15:06:55')
INSERT [dbo].[Notification_Master] ([Nid], [NMsg], [NDT]) VALUES (5, N'E gram Panchyat', N'01-02-2024 15:31:30')
INSERT [dbo].[Notification_Master] ([Nid], [NMsg], [NDT]) VALUES (6, N'wedrftgyhuj  cvby tcvybu hvybun', N'04-02-2024 08:16:23')
SET IDENTITY_INSERT [dbo].[Notification_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[Service_Master] ON 

INSERT [dbo].[Service_Master] ([Id], [Services], [Title], [Description], [Service_DT], [IsDel]) VALUES (7, N'Jal Pariyojana', N'hgfdxcfvbn cvgbhnjmk gvbhnjm ', N'xdcfvgbhnjmk xcvbnm cvbnj cgvbhnjk', N'31-01-2024 18:18:00', NULL)
INSERT [dbo].[Service_Master] ([Id], [Services], [Title], [Description], [Service_DT], [IsDel]) VALUES (8, N'Jal Pariyojana', N'hgfdxcfvbn cvgbhnjmk gvbhnjm ', N'xdcfvgbhnjmk xcvbnm cvbnj cgvbhnjk', N'31-01-2024 18:18:59', NULL)
INSERT [dbo].[Service_Master] ([Id], [Services], [Title], [Description], [Service_DT], [IsDel]) VALUES (9, N'Jal Pariyojana', N'hgfdxcfvbn cvgbhnjmk gvbhnjm ', N'xdcfvgbhnjmk xcvbnm cvbnj cgvbhnjk', N'31-01-2024 18:19:05', NULL)
SET IDENTITY_INSERT [dbo].[Service_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[State_Master] ON 

INSERT [dbo].[State_Master] ([StateId], [StateName]) VALUES (1, N'UttarPradesh')
INSERT [dbo].[State_Master] ([StateId], [StateName]) VALUES (2, N'Bihar')
INSERT [dbo].[State_Master] ([StateId], [StateName]) VALUES (3, N'MadhyaPradesh')
SET IDENTITY_INSERT [dbo].[State_Master] OFF
GO
ALTER TABLE [dbo].[BeneficiaryMaster]  WITH CHECK ADD  CONSTRAINT [FK_BeneficiaryMaster_City_Master] FOREIGN KEY([RelatedCityId])
REFERENCES [dbo].[City_Master] ([CityId])
GO
ALTER TABLE [dbo].[BeneficiaryMaster] CHECK CONSTRAINT [FK_BeneficiaryMaster_City_Master]
GO
ALTER TABLE [dbo].[BeneficiaryMaster]  WITH CHECK ADD  CONSTRAINT [FK_BeneficiaryMaster_State_Master] FOREIGN KEY([RelatedStateId])
REFERENCES [dbo].[State_Master] ([StateId])
GO
ALTER TABLE [dbo].[BeneficiaryMaster] CHECK CONSTRAINT [FK_BeneficiaryMaster_State_Master]
GO
ALTER TABLE [dbo].[Block_Master]  WITH CHECK ADD  CONSTRAINT [FK_Block_Master_City_Master] FOREIGN KEY([CityId])
REFERENCES [dbo].[City_Master] ([CityId])
GO
ALTER TABLE [dbo].[Block_Master] CHECK CONSTRAINT [FK_Block_Master_City_Master]
GO
ALTER TABLE [dbo].[City_Master]  WITH CHECK ADD  CONSTRAINT [FK_City_Master_City_Master] FOREIGN KEY([CityId])
REFERENCES [dbo].[City_Master] ([CityId])
GO
ALTER TABLE [dbo].[City_Master] CHECK CONSTRAINT [FK_City_Master_City_Master]
GO
ALTER TABLE [dbo].[City_Master]  WITH CHECK ADD  CONSTRAINT [FK_City_Master_State_Master] FOREIGN KEY([StateId])
REFERENCES [dbo].[State_Master] ([StateId])
GO
ALTER TABLE [dbo].[City_Master] CHECK CONSTRAINT [FK_City_Master_State_Master]
GO
